<footer class="footer" id="footer">
        <p>
            W3C is proud to be an open and inclusive organization, focused on productive discussions and actions. Our <a href="https://www.w3.org/Consortium/cepc/">Code of Ethics and Professional Conduct</a> ensures that all voices can be heard.
        </p>
        <p>
            If you have any questions, please contact the organizers at <a href="mailto:permissions-ws-2022-organizers@chromium.org">permissions-ws-2022-organizers@chromium.org</a>.
        </p>
        <p>
            Suggestions for improving this workshop page, such as fixing typos or adding specific topics, can be made by opening a <a href="https://github.com/w3c/permissions-ws-2022/pulls">pull request on GitHub</a>, or by emailing <span>the organizers &lt;<a href="mailto:permissions-ws-2022-organizers@chromium.org">permissions-ws-2022-organizers@chromium.org</a>&gt;</a>.
        </p>
    </footer>
<script src="assets/js/script.js"></script>