<header class="header">
    <p>
        <a href="https://www.w3.org/"><img alt="W3C" src="https://www.w3.org/Icons/w3c_home" height="48" width="72"></a>
    </p>
    <h1 id="top">W3C Workshop on Permissions</h1>
    <p style="margin-top: 0">
        5–6 December 2022; Munich, Germany
    </p>
    <p style="padding: 1rem; outline: 1px solid var(--blue);">This workshop has now concluded. You can find the <a href="{{ site.baseurl }}/report">summary report here</a>.</p>
    <nav class="menu" id="menu">
        <ul>
            <li>
                <a href="{{ site.baseurl }}/">Home Page</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/schedule">Schedule</a>
            </li>
            <li>
                <a href="https://github.com/w3c/permissions-ws-2022/tree/main/papers">Position Statements↗︎</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/cfp">Call for Participation</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/code-of-conduct">Code of Conduct</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/report">Report</a>
            </li>
        </ul>
    </nav>
</header>
