<aside class="box">
    <h2>Table of Contents</h2>
        <ul id="toc" class="section-nav">
            <li class="toc-entry"><a href="#what-is-the-purpose-of-this-workshop">Purpose</a></li>
            <li class="toc-entry"><a href="#which-topics-will-be-covered">Topics</a></li>
            <li class="toc-entry"><a href="#location-and-time">Location and Time</a></li>
            <li class="toc-entry"><a href="#important-dates">Important Dates</a></li>
            <li class="toc-entry"><a href="#program-committee-tentative">Program Committee</a></li>
            <li class="toc-entry"><a href="#what-is-w3c">What is W3C?</a></li>
        </ul>
</aside>